.popupstyle {
    margin-left:auto;
    margin-right:auto ;
    min-width: 300px;
    text-align: center;
    background: #F7F7F7;
    padding: 10px 15px 5px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4
}
.popupstyle h1{
    font-size: 25px;
    padding: 0px 0px 10px 0px;
    display: block;
    border-bottom: 1px solid #E4E4E4;
    margin: 0px -15px 0px -10px;
    color: #888;
}
.popupstyle h2{
    font-size: 18px;
    padding: 0px 0px 10px 0px;
    display: block;
    border-bottom: 1px solid #E4E4E4;
    /*margin: 0px -15px 0px -10px;*/
    color: #596488;
}

.popupstyle label {
    display: block;
    padding-top:15px;
    margin: 0px;
    font-size: 14px;
}
.popupstyle label>span {
    display: inline-block;
    float:left;
    clear: left;
    text-align: right;
    width: 20%;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
    /*align-content: left;*/
}

.popupstyle input[type="text"] {
    display: inline-block;
    float: left
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 50%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.popupstyle input[type="submit"] {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    margin-bottom: 10px;
}

.popupstyle input[type="submit"]:hover {
    background: #522929
}